{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>{{squad.name}}</h2>
                    </div>
                    <div class="card-body">
                        <h3>Max Size</h3><br>
                        <p>{{squad.size}}</p>
                        <h3>Cause</h3><br>
                        <p>{{squad.cause}}</p><br>
                        <div class="row" id="deled-button">
                            <a href="/squads/{{squad.id}}/delete" class="btn btn-danger">Delete this squad</a>
                            <a href="/squads/{{squad.id}}/edit" id="squad-delete" class="btn btn-primary">Edit this squad</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <h3>Heroes in this Squad</h3>
                <hr><br>
                <div class="row">
                    {{#if heroes}}
                        {{#each heroes}}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>{{name}}</h2>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Age: {{age}}</p>
                                    <p class="card-text">Special Power: {{power}}</p>
                                    <p class="card-text">Weakness: {{weakness}}</p>
                                </div>
                                <div class="card-footer">
                                    <ul class="nav nav-pills card-header-pills">
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" href="/heroes/{{id}}/edit" class="btn btn-primary">Edit</a>
                                            <a class="nav-link" href="/heroes/{{id}}/delete" class="btn btn-danger">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                        <div class="jumbotron">
                            <h1>No Heroes in this squad!!</h1>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}